extends layout
block content
	.jumbotron.text-center.addIssueFormbackground
		.addIssueForm
			div(style="text-align:right!important")
				i.fa.fa-times-circle-o.closeAddIssueBox(style="font-size:30px;cursor:pointer")
			.card
			.card-body
				.form-header(style="color:black;margin:0px;padding:0px;")
					h3(style="margin-top:10px")
						span.fa.fa-pencil
						|  Add issue

				form(method='POST', id="postIssueForm", action="/post", style="text-align:left;")
					input(type='text' id="issueDept" name="issueDept" placeholder="Enter your department..." required style="margin-left:0px !important;margin-right:0px !important")

					input(type='text' id="issueDescriptionTopic" name="issueDescriptionTopic" placeholder="Issue Topic..." required style="margin-left:0px !important;margin-right:0px !important")
					
					textarea(id="issueDescriptionText" name="issueDescriptionText" placeholder="Write detailed description" required )
					
					div(style="display:inline-flex;width:auto")
						input(type="checkbox" id="anonymity" name="anonymity" style="width:15px!important")
						span(style="color:black;width:150px") Be Anonymous
					
					div(style="text-align:center;padding:15px !important")
						input(style="background-color:#42b72a;border:none;color:white!important;width:10rem!important;font-size:20px" value="Post" type="submit" name="issuePost" id="issuePost")

	.gridcontainer
		.gridwrapper
			.gridbox.gridmenu(data-spy="affix" )		
				#wrapper(class="pro_info")
					section#main(style='background-color: unset !important;top:auto !important;max-width: 40em !important;')
						div
							span.avatar 
								img(src='./uploads/'+'#{avatar}', alt='', width='50%' style="border-radius:50%")
							h1(style="color:black;font-size: 34px;letter-spacing: 0px;margin-bottom: 0px !important;font-family: 'Quicksand', sans-serif;margin-bottom: 20px !important;font-weight: bold") #{name} 
							p(style='font-size: 19px;line-height: 1.3em')
								blockquote(style="color:#369a21;")
									| #{moto}
							ul(style="list-style:none;text-align:center;padding:0px")
									p(style="padding:0px;margin:0px;") #{num_of_applause}
									img(src='/images/clap.png' style="border-radius:50%;border:1px solid #474b4f" width='60px')
								
								li(style="display: inline-block;padding: 0 10px;border-right: 1px solid #d4dbe0;")
									| Issues Raised
									h3 #{num_of_issues}
								li(style="display: inline-block;padding: 0 10px")
									| Supporters
									h3 #{supporters}



			.gridbox.gridmain
				ul(id="issues")
					li.issuePart.anonymous(style="background-color:white")
						div(style='background-color:#c4d4ea91;padding:10px;padding-left:20px;')
							span(style='font-weight:900') Anonymous
							span(style='color:gray')  
								i.glyphicon.glyphicon-play(style="font-size:7pt")  
								|  Information Technology 
							p(style="font-size:7pt;padding:0px;margin:0px;color:gray") 27 Jun 2017
						.main(style='display:inline-flex;width:100%;box-sizing:border-box')
								#prevBtn(style='width:6rem;padding:10px;float:left;margin:5px;border-right:1px solid lightgray')
									div(style="font-size:25px;margin:5px;padding:5px;margin-left:0px")
										i.glyphicon.glyphicon-fire(style="color:red" aria-hidden='true')
									div(style="font-size:25px;margin:5px;padding:5px;margin-left:0px")
										i.glyphicon.glyphicon-thumbs-up(aria-hidden='true')
										p(style="padding:0px;margin:0px;font-size:10pt;text-align:center") #{num_of_applause}
								#nextBtn(style="float:right;width:80%;overflow:none;")
									div(style="font-size:24px;font-weight:800;padding:10px;border-bottom:1px solid lightgray;width:100%!important") Hi my name is Kumar
									div(id="issueDesc" style="font-size:13.5px;padding:10px;") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	
					li.issuePart.anonymous
						div(style='background-color:#f6f8fa;padding:10px;padding-left:20px;')
							span(style='font-weight:900') Anonymous
							span(style='color:gray')  raised this issue on 27 Jun 2018 for XXX 
							button(style="float:right;background-color:unset;border-radius:3px;border-color:#d1d5da;color:lightgray" type='button') Report Spam
						.main(style='display:inline-flex;width:100%;box-sizing:border-box')
								#prevBtn(style='width:6rem;padding:10px;float:left;margin:5px;border-right:1px solid lightgray')
									div(style="font-size:25px;margin:5px;padding:5px;margin-left:0px")
										i.glyphicon.glyphicon-fire(style="color:red" aria-hidden='true')
									div(style="font-size:25px;margin:5px;padding:5px;margin-left:0px")
										i.glyphicon.glyphicon-thumbs-up(aria-hidden='true')
										p(style="padding:0px;margin:0px;font-size:10pt;text-align:center") #{num_of_applause}
								#nextBtn(style="float:right;width:80%;overflow:none;")
									div(style="font-size:24px;font-weight:800;padding:10px;border-bottom:1px solid lightgray;width:100%!important") Hi my name is Kumar
									div(id="issueDesc" style="font-size:13.5px;padding:10px;") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					
			.gridbox.gridright(data-spy="affix" )
				.right(style="background-color:white!important;")
					div(style="padding:10px;background-color:#c4d4ea91!important;margin-bottom:5px;font-size:12px")
						h4 What?
						p The Pulpit Rock is a part of a mountain that looks like a pulpit.
					div(style="padding:10px;background-color:#c4d4ea91!important;margin-bottom:5px;font-size:12px")
						h4 What?
						p The Pulpit Rock is a part of a mountain that looks like a pulpit.
					div(style="padding:10px;background-color:#c4d4ea91!important;margin-bottom:5px;font-size:12px")
						h4 What?
						p The Pulpit Rock is a part of a mountain that looks like a pulpit.
					div(style="padding:10px;background-color:#c4d4ea91!important;margin-bottom:5px;font-size:12px")
						h4 What?
						p The Pulpit Rock is a part of a mountain that looks like a pulpit.
					div(style="padding:10px;background-color:#c4d4ea91!important;margin-bottom:5px;font-size:12px")
						h4 What?
						p The Pulpit Rock is a part of a mountain that looks like a pulpit.
					
	if user
		#addIssue
			img(style="position:fixed;bottom:5%;right:5%;width:64px;height:64px;cursor:pointer" src="/images/add.png" )
						
	script.
		$('#addIssue').click(function(){
			$('.addIssueFormbackground').show();
			$('#addIssue').hide();
		});
		$('.closeAddIssueBox').click(function(){
			$('.addIssueFormbackground').hide();
			$('#addIssue').show();
		});

		//- $('#postIssueForm').submit(function postIssue (){
		//-     $.ajax({
		//-         url:'/post',
		//-         type:'post',
		//-         data:$('#postIssueForm').serialize(),
		//-         success:function(){
		//-         	console.log(data);
		//-             alert("worked");
		//-         }
		//-     });
		//- });

		
		//- var x = document.getElementsByTagName('div');
		//- console.log(x);
		//- for(i=0;i<x.length;i++){
		//- 	if(x[i].id==="issueDesc")
		//- 	{
		//- 		var myDiv = x[i];
		//- 		var full = x[i].innerHTML;
		//- 		console.log("Full : "+full);
		//- 		var less = full.substring(0,200);
		//- 		console.log("Less : "+less);
		//- 		var rest = full.substring(200);
		//- 		console.log("Rest : "+rest);
				
		//- 		var aFull = document.createElement('a');
		//- 		aFull.setAttribute("id", "fullDesc");
		//- 		aFull.innerHTML = "... Read More";
				
		//- 		x[i].innerHTML = less;
				
				
		//- 		var restDiv = document.createElement('span');
		//- 		restDiv.setAttribute("id", "extra");
		//- 		restDiv.innerHTML = rest;
		//- 		x[i].appendChild(restDiv);
		//- 		restDiv.style.display = "none";
				
		//- 		x[i].appendChild(aFull);
				
		//- 		//- $('#extra').hide();
		//- 	//- 	//- myDiv.append(aFull);
		//- 	//- 	var i=0;
		//- 	//- 	//- 
		//- }};

		
		
