extends layout
block content
	.jumbotron.text-center.addIssueFormbackground
		.addIssueForm
			div(style="text-align:right!important")
				i.fa.fa-times-circle-o.closeAddIssueBox(style="font-size:30px!important")
			.card
			.card-body
				.form-header.myFormHeader
					h3(style="margin-top:10px")
						span.fa.fa-pencil
						|  Add issue

				form(method='POST', id="postIssueForm", action="/post")
					input(type='text' id="issueDept" name="issueDept" placeholder="Enter your department..." required)

					input(type='text' id="issueDescriptionTopic" name="issueDescriptionTopic" placeholder="Issue Topic..." required)
					
					textarea(id="issueDescriptionText" name="issueDescriptionText" placeholder="Write detailed description" required )
					
					div(style="display:inline-flex;width:auto")
						input(type="checkbox" id="anonymity" name="anonymity")
						span(style="color:black;width:150px") Be Anonymous
					
					div(style="text-align:center;padding:15px !important")
						input( value="Post" type="submit" name="issuePost" id="issuePost")

	.gridcontainer
		.gridwrapper
			.gridbox.gridmenu(data-spy="affix" )		
				#wrapper(class="pro_info")
					section#main
						div
							span.avatar 
								img(src='./uploads/'+'#{avatar}', alt='', width='50%' style="border-radius:50%")
							h1 #{name} 
							p
								blockquote(style="color:#369a21;")
									| #{moto}
							ul(style="list-style:none;text-align:center;padding:0px")
									p #{num_of_applause}
									img(src='/images/clap.png' style="border-radius:50%;border:1px solid #474b4f" width='60px')
								
								li(style="display: inline-block;padding: 0 10px;border-right: 1px solid #d4dbe0;")
									| Issues Raised
									h3 #{num_of_issues}

								li(style="display: inline-block;padding: 0 10px")
									| Supporters
									h3 #{supporters}



			.gridbox.gridmain
				ul(id="issues")
					if issues
						for each in issues	
							li.issuePart
								div.issuePart1D
									if (each.anonymity==="on")
										span(style='font-weight:900') Anonymous
									else if(each.anonymity==="off")
										a(href="/profile/"+each.username style='font-weight:900') #{each.name}
									span(style='color:gray')  
										i.glyphicon.glyphicon-play(style="font-size:10pt")  
										|  #{each.department}
									if (each.anonymity==="on")
										button.spamBtn(type='button') Report Spam
									p(id="date") #{each.datePosted}
									
								.main.issueBlock
										#prevBtn
											#likeBtns
												i.glyphicon.glyphicon-fire(style="color:red" aria-hidden='true')
											#likeBtns
												i.glyphicon.glyphicon-thumbs-up(aria-hidden='true')
												p #{each.likes}
										#nextBtn
											#issueTopic #{each.issueTopic}
											#issueDesc #{each.issueDesc}

					
			.gridbox.gridright(data-spy="affix" )
				.right
					#notifications
						h4 What?
						p The Pulpit Rock is a part of a mountain that looks like a pulpit.
					
					
	if user
		#addIssue
			img(src="/images/add.png" )
						
	script.
		$('#addIssue').click(function(){
			$('.addIssueFormbackground').show();
			$('#addIssue').hide();
		});
		$('.closeAddIssueBox').click(function(){
			$('.addIssueFormbackground').hide();
			$('#addIssue').show();
		});
		$(window).scroll(function() {
		   if($(window).scrollTop() + $(window).height() > $(document).height() - 100) 
		   {
		   		 var dateLastPosted = $('p#date:last').text();
		   		 var dateLastPosted = Date.parse(dateLastPosted);
		   		 var url  = '/getIssues/'+dateLastPosted;
		   		 console.log(url);
		   		 $.get(url, function(data){

			     });
		   }
		});

		//- $('#postIssueForm').submit(function postIssue (){
		//-     $.ajax({
		//-         url:'/post',
		//-         type:'post',
		//-         data:$('#postIssueForm').serialize(),
		//-         success:function(){
		//-         	console.log(data);
		//-             alert("worked");
		//-         }
		//-     });
		//- });

		
		//- var x = document.getElementsByTagName('div');
		//- console.log(x);
		//- for(i=0;i<x.length;i++){
		//- 	if(x[i].id==="issueDesc")
		//- 	{
		//- 		var myDiv = x[i];
		//- 		var full = x[i].innerHTML;
		//- 		console.log("Full : "+full);
		//- 		var less = full.substring(0,200);
		//- 		console.log("Less : "+less);
		//- 		var rest = full.substring(200);
		//- 		console.log("Rest : "+rest);
				
		//- 		var aFull = document.createElement('a');
		//- 		aFull.setAttribute("id", "fullDesc");
		//- 		aFull.innerHTML = "... Read More";
				
		//- 		x[i].innerHTML = less;
				
				
		//- 		var restDiv = document.createElement('span');
		//- 		restDiv.setAttribute("id", "extra");
		//- 		restDiv.innerHTML = rest;
		//- 		x[i].appendChild(restDiv);
		//- 		restDiv.style.display = "none";
				
		//- 		x[i].appendChild(aFull);
				
		//- 		//- $('#extra').hide();
		//- 	//- 	//- myDiv.append(aFull);
		//- 	//- 	var i=0;
		//- 	//- 	//- 
		//- }};

		
		
