extends layout
block content
	.jumbotron.text-center.addIssueFormbackground
		.addIssueForm
			div(style="text-align:right!important")
				i.fa.fa-times-circle-o.closeAddIssueBox(style="font-size:30px!important")
			.card
			.card-body
				.form-header.myFormHeader
					h3(style="margin-top:10px")
						span.fa.fa-pencil
						|  Add issue

				form(method='POST', id="postIssueForm", action="/post")
					input(type='text' id="issueDept" name="issueDept" placeholder="Enter your department..." required)

					input(type='text' id="issueDescriptionTopic" name="issueDescriptionTopic" placeholder="Issue Topic..." required)
					
					textarea(id="issueDescriptionText" name="issueDescriptionText" placeholder="Write detailed description" required )
					
					div(style="display:inline-flex;width:auto")
						input(type="checkbox" id="anonymity" name="anonymity")
						span(style="color:black;width:150px") Be Anonymous
					
					div(style="text-align:center;padding:15px !important")
						input( value="Post" type="submit" name="issuePost" id="issuePost")

	.gridcontainer
		.gridwrapper
			.gridbox.gridmenu(data-spy="affix" )		
				#wrapper(class="pro_info")
					ul(id="myOrgsList")
						for each in userDetails.orgs
							li #{each}

									
			.gridbox.gridmain
				ul(id="issues")
					li.issuePart
						.issuePart1D(style="display:inline-flex;width:100%;padding-left:13px")
							
							
						.main.issueBlock
							#nextBtn
								div(style="margin-left:10px")
									a#issueTopic(href="/post/") each.issueTopic
								#issueDesc each.issueDesc
						

					if issues
						for each in issues	
							li.issuePart
								.issuePart1D(style="display:inline-flex;width:100%;padding-left:13px")
									div(style="display:left;width:80%;")
										if (each.anonymity==="on")
											span(style='font-weight:900') Anonymous
										else if(each.anonymity==="off")
											a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}
										
										span(style='color:gray')  
											i.glyphicon.glyphicon-play(style="font-size:10pt")  
											a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;')  #{each.department}
										p(id="date") #{each.datePosted}
			
									div(style="display:right;width:20%")
										if trending
											i.glyphicon.glyphicon-fire(style="color:red;margin:5px" aria-hidden='true')
											
										if (each.status==="open")
											i(class="mega-octicon octicon-issue-opened" )
												span Open
										else
											i(class="mega-octicon octicon-issue-closed")
									
								.main.issueBlock
									#nextBtn
										div(style="margin-left:10px")
											a#issueTopic(href="/post/"+each._id) #{each.issueTopic}
										#issueDesc #{each.issueDesc}
								
								.issueCommentPart
									button(id="likeBtn") 
										i(class="fa fa-thumbs-o-up" style="font-size:18px")
										|  Like		
									button(id="commentBtn")
										i(class="mega-octicon octicon-comment" style="font-size:18px")
										|  Comment
								
			.gridbox.gridright(data-spy="affix" )
				.right
					#notifications(style="text-align:left!important")
						a(href="/trending" style="font-weight:500") 
							p Trending
						ul(id="trndingIssues" style="list-style:none")
								li
									p Issue Topic goes here.
								li
									p Issue Topic goes here.
								li
									p Issue Topic goes here.
								li
									p Issue Topic goes here.

					#notifications(style="text-align:left!important")
						a(href="/trending" style="font-weight:500") 
							p Trending
						ul(id="trndingIssues" style="list-style:none")
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.

					#notifications(style="text-align:left!important")
						a(href="/trending" style="font-weight:500") 
							p Trending
						ul(id="trndingIssues" style="list-style:none")
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
							li
								p Issue Topic goes here.
	

					
					
	if user
		#addIssue
			img(src="/images/add.png" )
						
	script.
		var issuedate = $('p#date').each(function(){
			var modDate = $(this).text().substring(0,15);
			$(this).html(modDate);
		});

		$('#addIssue').click(function(){
			$('.addIssueFormbackground').show();
			$('#addIssue').hide();
		});

		$('.closeAddIssueBox').click(function(){
			$('.addIssueFormbackground').hide();
			$('#addIssue').show();
		});
		
		$('button#likeBtn').click(function(e){
		    e.preventDefault();
		    $(this).find('i.fa').toggleClass('fa-thumbs-o-up fa-thumbs-up');
		    var id = $(this).parents('li.issuePart').find('a#issueTopic').attr('href');
		    id = id.substring(6);
		    var _url = "/likepost/"+id;
		    $.ajax({
			  url: _url,
			  cache: false,
			  method: 'POST',
			  success: function(data){
			    console.log(data);
			  }
			});
		});
		$('#nav_search_input').on("input", function(){
		   	var query = this.value;
		   	query = query.toLowerCase().replace(/\s/g, '');
		   	console.log(query);
		    var _url = "/search_org/"+query;
		    $.ajax({
		    url: _url,
		    cache: false,
		    method: 'GET',
		    success: function(data){
		       console.log(data);
		    }
		  });
		});
		//- $(window).scroll(function() {
		//-    if($(window).scrollTop() + $(window).height() > $(document).height() - 100) 
		//-    {
		//-    		 var dateLastPosted = $('p#date:last').text();
		//-    		 var dateLastPosted = Date.parse(dateLastPosted);
		//-    		 var url  = '/getIssues/'+dateLastPosted;
		//-    		 console.log(url);
		//-    		 $.get(url, function(data){
		//-    		 	//$('ul#issues').append(
		//-    		 		console.log(JSON.stringify(data));
		//-    		 	//);
		//- 	     });
		//-    }
		//- });


		//- $('#postIssueForm').submit(function postIssue (){
		//-     $.ajax({
		//-         url:'/post',
		//-         type:'post',
		//-         data:$('#postIssueForm').serialize(),
		//-         success:function(){
		//-         	console.log(data);
		//-             alert("worked");
		//-         }
		//-     });
		//- });

		
		//- var x = document.getElementsByTagName('div');
		//- console.log(x);
		//- for(i=0;i<x.length;i++){
		//- 	if(x[i].id==="issueDesc")
		//- 	{
		//- 		var myDiv = x[i];
		//- 		var full = x[i].innerHTML;
		//- 		console.log("Full : "+full);
		//- 		var less = full.substring(0,200);
		//- 		console.log("Less : "+less);
		//- 		var rest = full.substring(200);
		//- 		console.log("Rest : "+rest);
				
		//- 		var aFull = document.createElement('a');
		//- 		aFull.setAttribute("id", "fullDesc");
		//- 		aFull.innerHTML = "... Read More";
				
		//- 		x[i].innerHTML = less;
				
				
		//- 		var restDiv = document.createElement('span');
		//- 		restDiv.setAttribute("id", "extra");
		//- 		restDiv.innerHTML = rest;
		//- 		x[i].appendChild(restDiv);
		//- 		restDiv.style.display = "none";
				
		//- 		x[i].appendChild(aFull);
				
		//- 		//- $('#extra').hide();
		//- 	//- 	//- myDiv.append(aFull);
		//- 	//- 	var i=0;
		//- 	//- 	//- 
		//- }};

		
		
