extends org
block issues
  .gridbox.gridmain
    ul(id="issues")
      li.postIssuePart(style="border-radius:3px")
        .issuePart1D(style="background-color:white;display:inline-flex;text-align:center;width:100%;padding-left:13px;border-radius:3px;padding:0px")
          
          div(style="width:50.0%;padding:10px;border-right:1px solid lightgray;border-bottom:2px solid #42b72a;cursor:pointer" id="openBtn")
            button(style="background-color:unset;font-size:14pt;border:none")
              i(class="mega-octicon octicon-issue-opened" style="background-color:unset!important;color:black;font-size:14pt;color:green")
              | #{openIssues.length}
              | Open           
          
          div(style="width:50.0%;padding:10px;cursor:pointer" id="closedBtn")
            button(style="background-color:unset;font-size:14pt;border:none")
              i(class="mega-octicon octicon-issue-closed" style="background-color:unset!important;color:black;font-size:14pt;color:red")
              | #{closedIssues.length}
              | Closed                 

      if(search(username, orgDtl.members))      
        div#openIssues(style="display:block;")
          if openIssues.length!=0
            for each in openIssues  
              li.issuePart(style="box-shadow: 0 2px 4px 0 #d1d5da78,0 2px 10px 0 #d1d5da78!important;border-color:#d1d5da78")
                .issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
                  div(style="float:left;display:inline-flex")
                    div(style="float:left")
                      img(src='/uploads/'+'#{each.userAvatarPath}', alt='' style="border-radius:50%;width:40px;height:40px;margin-right:10px")
                    div(style="float:right")
                      if (each.anonymity==="on")
                        span(style='font-weight:900') Anonymous
                      else if(each.anonymity==="off")
                        a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}
                      
                      span(style='color:gray')  
                        i.glyphicon.glyphicon-play(style="font-size:10pt")  
                        a(href="/orgs/"+each.orgUserId id="linkProfile" style='font-weight:900;')  #{each.orgname}

                      if each.edited
                       p(id="date") Edited on #{each.datePosted}
                      else
                       p(id="date") Posted on #{each.datePosted}
                         
                  
                  div(style="float:right")
                    if (each.status==="open")
                      i(class="mega-octicon octicon-issue-opened issueStatus" id=each._id)
                        span  Open
                    else
                      i(class="mega-octicon octicon-issue-closed issueStatus" id=each._id)
                        span  Closed
                    
                .main.issueBlock
                  #nextBtn
                    div#issueTopic(style="margin-left:10px;width:auto!important")
                      if each.supporters.length>=(0.75*orgDtl.members.length)
                        i.glyphicon.glyphicon-fire(style="color:red;margin:5px" aria-hidden='true')
                      a(href="/indpost/"+each._id style="color:black") #{each.issueTopic}
                    div#issueDesc #{each.issueDesc}
              
                div(id="feed_details")
                  ul(id="feed_numbers" style="padding-left:15px;list-style:none;display:inline-flex;font-size:10pt;")
                    li
                      a(href="#" ) 
                        span(id="num_of_likes") #{each.supporters.length}
                        |  Supports
                    li
                      h(style="margin-right:5px;margin-left:5px") -
                    li
                      a(href="#")
                        span(id="num_of_comments") #{each.comments.length}
                        |  Comments
                 
                  .issueCommentPart
                    button(id="likeBtn" )
                      if (each.supporters.indexOf(username)==-1)
                        i(class="fa fa-thumbs-o-up" style="font-size:18px;" id="likeBtnLogo")
                        |  I Support
                      else
                        i(class="fa fa-thumbs-up" style="font-size:18px" id="likeBtnLogo")
                        |  I Support

                    button(id="commentBtn" )
                      i(class="mega-octicon octicon-comment" style="font-size:18px")
                      |  Comment
          else
            div(style="text-align:center!important;padding-top:100px")
              i(class="mega-octicon octicon-issue-opened" style="background-color:unset!important;color:lightgray;font-size:100px;")
              br
              br
              h(style="font-weight:500; font-size:25pt; color:grey") No open issues    

        div#closedIssues(style="display:none")
          if closedIssues.length!=0
            for each in closedIssues  
              li.issuePart(style="box-shadow: 0 2px 4px 0 #d1d5da78,0 2px 10px 0 #d1d5da78!important;border-color:#d1d5da78")
                .issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
                  div(style="float:left;display:inline-flex")
                    div(style="float:left")
                      img(src='/uploads/'+'#{each.userAvatarPath}', alt='' style="border-radius:50%;width:40px;height:40px;margin-right:10px")
                    div(style="float:right")
                      if (each.anonymity==="on")
                        span(style='font-weight:900') Anonymous
                      else if(each.anonymity==="off")
                        a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}
                      
                      span(style='color:gray')  
                        i.glyphicon.glyphicon-play(style="font-size:10pt")  
                        a(href="/orgs/"+each.orgUserId id="linkProfile" style='font-weight:900;')  #{each.orgname}

                      if each.edited
                       p(id="date") Edited on #{each.datePosted}
                      else
                       p(id="date") Posted on #{each.datePosted}
                         
                  
                  div(style="float:right")
                    if (each.status==="open")
                      i(class="mega-octicon octicon-issue-opened issueStatus" id=each._id)
                        span  Open
                    else
                      i(class="mega-octicon octicon-issue-closed issueStatus" id=each._id)
                        span  Closed
                    
                .main.issueBlock
                  #nextBtn
                    div#issueTopic(style="margin-left:10px;width:auto!important")
                      if each.supporters.length>=(0.75*orgDtl.members.length)
                        i.glyphicon.glyphicon-fire(style="color:red;margin:5px" aria-hidden='true')
                      a(href="/indpost/"+each._id style="color:black") #{each.issueTopic}
                    div#issueDesc #{each.issueDesc}
              
                div(id="feed_details")
                  ul(id="feed_numbers" style="padding-left:15px;list-style:none;display:inline-flex;font-size:10pt;")
                    li
                      a(href="#" ) 
                        span(id="num_of_likes") #{each.supporters.length}
                        |  Supports
                    li
                      h(style="margin-right:5px;margin-left:5px") -
                    li
                      a(href="#")
                        span(id="num_of_comments") #{each.comments.length}
                        |  Comments
                 
                  .issueCommentPart
                    button(id="likeBtn" )
                      if (each.supporters.indexOf(username)==-1)
                        i(class="fa fa-thumbs-o-up" style="font-size:18px;" id="likeBtnLogo")
                        |  I Support
                      else
                        i(class="fa fa-thumbs-up" style="font-size:18px" id="likeBtnLogo")
                        |  I Support

                    button(id="commentBtn" )
                      i(class="mega-octicon octicon-comment" style="font-size:18px")
                      |  Comment
          else
            div(style="text-align:center!important;padding-top:100px")
              i(class="mega-octicon octicon-issue-closed" style="background-color:unset!important;color:lightgray;font-size:100px;")
              br
              br
              h(style="font-weight:500; font-size:25pt; color:grey") No closed issues    

      else
        div(style="text-align:center!important;padding-top:100px")
            img(src="/images/SuccessLogo.png" style="width:30%;opacity:0.7")
            br
            br
            h(style="font-weight:500; font-size:25pt; color:grey") You'r not a member yet

  script.
      $('.main.issueBlock #issueDesc').each(function(){
        var descLength = $(this).text().length;
        var descTrimmed1 = (descLength>250)?("<span id='descTrimmed1'>"+$(this).text().substring(0,250)+"</span><span id='3dots'>...</span>"):($(this).text());
        var descTrimmed2 = (descLength>250)?("<span id='descTrimmed2' style='display:none'>"+$(this).text().substring(250)+"</span>"+"<span id='readMore' style='color:#337ab7;cursor:pointer'>Read More</span>"):"";
        
        $(this).html(descTrimmed1+descTrimmed2);
        //- (descTrimmed.length>200)?($(this).append('<span id="readMore" style="color:#337ab7;cursor:pointer">Read More</span>')):1;
        //- $('#readMore')
      });

      $('#issueDesc #readMore').click(function(){
        if($(this).text()=="Read More")
          {
            $(this).text('Read Less');
          }
        else
          $(this).text('Read More');
          $(this).siblings('#descTrimmed2').toggle();
          $(this).siblings('#3dots').toggle();
      });

      $('#expandPost').click(function(){
        $('#nextBtn').slideToggle();
        $(this).toggleClass('glyphicon-plus glyphicon-minus');
      })


      $('#openBtn').click(function(){
        $('#openIssues').show();
        $('#closedIssues').hide();
        $(this).css({
          'border-bottom' : '2px solid #42b72a'
        })
        $('#closedBtn').css({
          'border-bottom' : '2px solid white'
        })
      });

      $('#closedBtn').click(function(){
        $('#openIssues').hide();
        $('#closedIssues').show();
        $(this).css({
          'border-bottom' : '2px solid #42b72a'
        })
        $('#openBtn').css({
          'border-bottom' : '2px solid white'
        })
      });


      $('#expandPost').click(function(){
        $('#nextBtn').toggle();
        $(this).toggleClass('glyphicon-plus glyphicon-minus');
      })

      $('button#likeBtn').click(function(e){

        if( $(this).find('i#likeBtnLogo').hasClass("fa-thumbs-up") )
          { 
           console.log("Executed 1");
            $(this).parents('#feed_details').find('#num_of_likes').html(parseInt($(this).parents('#feed_details').find('#num_of_likes').text()[0])-1);
          }
        
        else if( $(this).find('i#likeBtnLogo').hasClass('fa-thumbs-o-up') )
          {
           console.log("Executed 2");
            $(this).parents('#feed_details').find('#num_of_likes').html(parseInt($(this).parents('#feed_details').find('#num_of_likes').text()[0])+1);
          }

          e.preventDefault();
          $(this).find('i.fa').toggleClass('fa-thumbs-o-up fa-thumbs-up');
          var id = $(this).parents('li.issuePart').find('i.issueStatus').attr('id');
          console.log(id);
          
          var _url = "/likepost/"+id;
          console.log(_url);
          $.post({
          url: _url,
        });
      });