extends org
block issues
  .gridbox.gridmain
    ul(id="issues")
      li.postIssuePart(style="border-radius:3px")
        .issuePart1D(style="background-color:white;display:inline-flex;text-align:center;width:100%;padding-left:13px;border-radius:3px;padding:0px")
          
          div(style="width:50.0%;padding:10px;border-right:1px solid lightgray;border-bottom:2px solid #42b72a;cursor:pointer" id="openBtn")
            button(style="background-color:unset;font-size:14pt;border:none")
              i(class="mega-octicon octicon-issue-opened" style="background-color:unset!important;color:black;font-size:14pt;")
              | #{openIssues.length}
              | Open           
          
          div(style="width:50.0%;padding:10px;cursor:pointer" id="closedBtn")
            button(style="background-color:unset;font-size:14pt;border:none")
              i(class="mega-octicon octicon-issue-closed" style="background-color:unset!important;color:black;font-size:14pt;")
              | #{closedIssues.length}
              | Closed                 

      if(search(username, orgDtl.members))      
        div#openIssues(style="display:block;")
          if openIssues.length!=0
            for each in openIssues  
              li.issuePart
                .issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
                  div(style="float:left;")
                    if (each.anonymity==="on")
                      span(style='font-weight:900') Anonymous
                    else if(each.anonymity==="off")
                      a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}
                    
                    span(style='color:gray')  
                      i.glyphicon.glyphicon-play(style="font-size:10pt")  
                      a(href="/orgs/"+each.orgUserId id="linkProfile" style='font-weight:900;')  #{each.orgname}
                    p(id="date") #{each.datePosted}

                  div(style="float:right")
                    if trending
                      i.glyphicon.glyphicon-fire(style="color:red;margin:5px" aria-hidden='true')
                      
                    if (each.status==="open")
                      i(class="mega-octicon octicon-issue-opened" )
                        span  Open
                    else
                      i(class="mega-octicon octicon-issue-closed")
                        span  Closed
                  
                .main.issueBlock
                  #nextBtn
                    div(style="margin-left:10px")
                      a#issueTopic(href="/indpost/"+each._id) #{each.issueTopic}
                    #issueDesc #{each.issueDesc}
              
                div
                  ul(style="padding-left:15px;list-style:none;display:inline-flex;font-size:10pt;")
                    li
                      a(href="#" ) 
                        span(id="num_of_likes") #{each.supporters.length}
                        |  Supports
                    li
                      h(style="margin-right:5px;margin-left:5px") -
                    li
                      a(href="#")
                        span(id="num_of_comments") #{each.comments.length}
                        |  Comments
                 
                  .issueCommentPart
                    button(id="likeBtn")
                      if (each.supporters.indexOf(username)==-1)
                        i(class="fa fa-thumbs-o-up" style="font-size:18px;" id="likeBtnLogo")
                      else
                        i(class="fa fa-thumbs-up" style="font-size:18px" id="likeBtnLogo")
                      |  I Support

                    button(id="commentBtn")
                      i(class="mega-octicon octicon-comment" style="font-size:18px")
                      |  Comment
          else
            div(style="text-align:center!important;padding-top:100px")
              i(class="mega-octicon octicon-issue-opened" style="background-color:unset!important;color:lightgray;font-size:100px;")
              br
              br
              h(style="font-weight:500; font-size:25pt; color:grey") No open issues    

        div#closedIssues(style="display:none")
          if closedIssues.length!=0
            for each in closedIssues  
              li.issuePart
                .issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
                  div(style="float:left;")
                    if (each.anonymity==="on")
                      span(style='font-weight:900') Anonymous
                    else if(each.anonymity==="off")
                      a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}
                    
                    span(style='color:gray')  
                      i.glyphicon.glyphicon-play(style="font-size:10pt")  
                      a(href="/orgs/"+each.orgUserId id="linkProfile" style='font-weight:900;')  #{each.orgname}
                    p(id="date") #{each.datePosted}

                  div(style="float:right")
                    if trending
                      i.glyphicon.glyphicon-fire(style="color:red;margin:5px" aria-hidden='true')
                      
                    if (each.status==="open")
                      i(class="mega-octicon octicon-issue-opened" )
                        span  Open
                    else
                      i(class="mega-octicon octicon-issue-closed")
                        span  Closed
                  
                .main.issueBlock
                  #nextBtn
                    div(style="margin-left:10px")
                      a#issueTopic(href="/indpost/"+each._id) #{each.issueTopic}
                    #issueDesc #{each.issueDesc}
              
                div
                  ul(style="padding-left:15px;list-style:none;display:inline-flex;font-size:10pt;")
                    li
                      a(href="#" ) 
                        span(id="num_of_likes") #{each.supporters.length}
                        |  Supports
                    li
                      h(style="margin-right:5px;margin-left:5px") -
                    li
                      a(href="#")
                        span(id="num_of_comments") #{each.comments.length}
                        |  Comments
                 
                  .issueCommentPart
                    button(id="likeBtn")
                      if (each.supporters.indexOf(username)==-1)
                        i(class="fa fa-thumbs-o-up" style="font-size:18px;" id="likeBtnLogo")
                      else
                        i(class="fa fa-thumbs-up" style="font-size:18px" id="likeBtnLogo")
                      |  I Support

                    button(id="commentBtn")
                      i(class="mega-octicon octicon-comment" style="font-size:18px")
                      |  Comment
          else
            div(style="text-align:center!important;padding-top:100px")
              i(class="mega-octicon octicon-issue-closed" style="background-color:unset!important;color:lightgray;font-size:100px;")
              br
              br
              h(style="font-weight:500; font-size:25pt; color:grey") No closed issues    

      else
        div(style="text-align:center!important;padding-top:100px")
            img(src="/images/SuccessLogo.png" style="width:30%;opacity:0.7")
            br
            br
            h(style="font-weight:500; font-size:25pt; color:grey") You'r not a member yet

  script.
      $('#openBtn').click(function(){
        $('#openIssues').show();
        $('#closedIssues').hide();
        $(this).css({
          'border-bottom' : '2px solid #42b72a'
        })
        $('#closedBtn').css({
          'border-bottom' : '2px solid white'
        })
      });

      $('#closedBtn').click(function(){
        $('#openIssues').hide();
        $('#closedIssues').show();
        $(this).css({
          'border-bottom' : '2px solid #42b72a'
        })
        $('#openBtn').css({
          'border-bottom' : '2px solid white'
        })
      });


      $('#expandPost').click(function(){
        $('#nextBtn').toggle();
        $(this).toggleClass('glyphicon-plus glyphicon-minus');
      })

      $('button#likeBtn').click(function(e){

        if( $('i#likeBtnLogo').hasClass("fa-thumbs-up") )
          { 
            $('#num_of_likes').html(parseInt($('#num_of_likes').text()[0])-1);
          }
        
        else if( $('i#likeBtnLogo').hasClass('fa-thumbs-o-up') )
          {
            $('#num_of_likes').html(parseInt($('#num_of_likes').text()[0])+1);
          }

          e.preventDefault();
          $(this).find('i.fa').toggleClass('fa-thumbs-o-up fa-thumbs-up');
          var id = $(this).parents('li.issuePart').find('a#issueTopic').attr('href');
          console.log(id);
          
          id = id.substring(9);
          console.log(id);
          
          var _url = "/likepost/"+id;
          console.log(_url);
          $.post({
          url: _url,
        });
      });