extends org
block issues
  .gridbox.gridmain
    ul(id="issues")
      if(search(username, orgDtl.admin))
        li.postIssuePart(id="addOrg" style="transition:0.2s all ease-in-out")
          form(method='POST', id="addMyOrg", action="/makeAnnouncement" enctype="multipart/form-data")    
            .issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
              div(style="float:left")
                h(style="font-weight:500;font-size:14pt") Make Announcement
              div(style="float:right")
                i(class="glyphicon glyphicon-plus" id="expandMakeOrg")      

            .main.issueBlock
              #nextBtn(style="display:none")
                div(style="margin-left:5px")
                    input(type='text' id="issueDescriptionTopic" name="announcementTopic" placeholder="Topic" required maxlength="60")
                    
                    textarea(id="issueDescriptionText" name="announcementText" placeholder="Description" required)
                    
                    div(style="display:inline-block;width:100%")
                      div(style="display:inline-block;float:center;position:absolute")
                        label(for="files" style="min-width:auto")
                          i(class="ionicons ion-ios-cloud-upload" style="padding-right:10px;position:absolute;font-size:40px;display:none" title="File Upload" id="fileUploadLogo")
                          input(type='file' id='announcementDocs' name='announcementDocs' style="padding:0px!important;margin:0px!important;opacity:0;width:40px!important" multiple)
                      div(style="text-align:center;float:right")
                        input( value="#{orgDtl.userId}" type="hidden" name="orgUId")
                        input( value="Post" type="submit" name="issuePost" id="issuePost")
        
      li.postIssuePart.tabBtns(style="border-radius:3px")
        .issuePart1D.tabCnts(style="background-color:white;display:inline-flex;text-align:center;width:100%;padding-left:13px;border-radius:3px;padding:0px")
          if(search(username, orgDtl.admin))
            div(style="width:25.0%;padding:10px;border-right:1px solid lightgray;border-bottom:2px solid #42b72a;cursor:pointer" id="openBtn")
              button(style="background-color:unset;font-size:14pt;border:none")
                i(class="mega-octicon octicon-issue-opened" style="background-color:unset!important;color:black;font-size:14pt;color:green")
                | #{openIssues.length - aIssues.length}
                | Open           
            
            div(style="width:25.0%;padding:10px;cursor:pointer" id="closedBtn")
              button(style="background-color:unset;font-size:14pt;border:none")
                i(class="mega-octicon octicon-issue-closed" style="background-color:unset!important;color:black;font-size:14pt;color:red")
                | #{closedIssues.length}
                | Closed                 

            div(style="width:25.0%;padding:10px;border-left:1px solid lightgray;cursor:pointer" id="aBtn")
              button(style="background-color:unset;font-size:14pt;border:none")
                i(class="fa fa-user-secret" style="background-color:unset!important;color:black;font-size:14t;color:black;padding-right:5px")
                | #{aIssues.length}
                | Secret

            div(style="width:25.0%;padding:10px;border-left:1px solid lightgray;cursor:pointer" id="announcementBtn")
              button(style="background-color:unset;font-size:14pt;border:none")
                i(class="ionicons ion-android-notifications" style="background-color:unset!important;color:red!important;font-size:14pt;color:black;padding-right:5px")
                | #{announcements.length}
                |  Notices
          else
            div(style="width:33.33%;padding:10px;border-right:1px solid lightgray;border-bottom:2px solid #42b72a;cursor:pointer" id="openBtn")
              button(style="background-color:unset;font-size:14pt;border:none")
                i(class="mega-octicon octicon-issue-opened" style="background-color:unset!important;color:black;font-size:14pt;color:green")
                | #{openIssues.length - aIssues.length}
                | Open           
          
            div(style="width:33.33%;padding:10px;cursor:pointer" id="closedBtn")
              button(style="background-color:unset;font-size:14pt;border:none")
                i(class="mega-octicon octicon-issue-closed" style="background-color:unset!important;color:black;font-size:14pt;color:red")
                | #{closedIssues.length}
                | Closed                 
            
            div(style="width:33.33%;padding:10px;border-left:1px solid lightgray;cursor:pointer" id="announcementBtn")
              button(style="background-color:unset;font-size:14pt;border:none")
                i(class="ionicons ion-android-notifications" style="background-color:unset!important;color:red!important;font-size:14pt;color:black;padding-right:5px")
                | #{announcements.length}
                |  Notices
    
      if(search(username, orgDtl.members))      
        div#openIssues(style="display:block;")
          if (openIssues.length-aIssues.length)!=0
            for each in openIssues
              if each.anonymity=="off"
                li.issuePart(style="box-shadow: 0 2px 4px 0 #d1d5da78,0 2px 10px 0 #d1d5da78!important;border-color:#d1d5da78")
                  .issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
                    div(style="float:left;display:inline-flex")
                      div(style="float:left")
                        img(src='/uploads/'+'#{each.userAvatarPath}', alt='' style="border-radius:50%;width:40px;height:40px;margin-right:10px")
                      div(style="float:right")
                        if (each.anonymity==="on")
                          span(style='font-weight:900') Anonymous
                        else if(each.anonymity==="off")
                          a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}
                        
                        span(style='color:gray')  
                          i.glyphicon.glyphicon-play(style="font-size:10pt")  
                          a(href="/orgs/"+each.orgUserId id="linkProfile" style='font-weight:900;')  #{each.orgname}

                        if each.edited
                         p(id="date") Edited on #{each.datePosted}
                        else
                         p(id="date") Posted on #{each.datePosted}
                           
                    
                    div(style="float:right")
                      if (each.status==="open")
                        i(class="mega-octicon octicon-issue-opened issueStatus" id=each._id)
                      else
                        i(class="mega-octicon octicon-issue-closed issueStatus" id=each._id)

                  .main.issueBlock
                    #nextBtn
                      div#issueTopic(style="margin-left:10px;width:auto!important")
                        if each.supporters.length>=(0.75*orgDtl.members.length)
                          i.glyphicon.glyphicon-fire(style="color:red;margin:5px" aria-hidden='true')
                        a(href="/indpost/"+each._id style="color:black") #{each.issueTopic}
                      div#issueDesc #{each.issueDesc}
                      if each.docsUpload.length!=0
                        div#issueAttach(style="padding:10px;")
                          if each.docsUpload.length!=0
                            p(style="font-weight:500") #{each.docsUpload.length} Attachments :
                            for all in each.docsUpload 
                              i(class="glyphicon glyphicon-paperclip" style="font-size:10pt;margin-right:5px")
                              a(href="/uploads/"+all.filename ) #{all.originalName}
                              br

                  div(id="feed_details")
                      div(style="display:inline-block;width:100%!important")
                        ul(id="feed_numbers" style="padding-left:15px;list-style:none;display:inline-flex;font-size:10pt;float:left;")
                          li
                            a(href="#" ) 
                              span(id="num_of_likes") #{each.supporters.length}
                              |  Upvotes
                          li
                            h(style="margin-right:5px;margin-left:5px") -
                          li
                            a(href="#")
                              span(id="num_of_dislikes") #{each.haters.length}
                              |  Downvotes
                            
          else
            div(style="text-align:center!important;padding-top:100px")
              i(class="mega-octicon octicon-issue-opened" style="background-color:unset!important;color:lightgray;font-size:100px;")
              br
              br
              h(style="font-weight:500; font-size:25pt; color:grey") No open issues    
            
        if(search(username, orgDtl.admin))
          div#aIssues(style="display:none;")
            if aIssues.length!=0
              for each in aIssues
                li.issuePart(style="box-shadow: 0 2px 4px 0 #d1d5da78,0 2px 10px 0 #d1d5da78!important;border-color:#d1d5da78")
                  .issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
                    div(style="float:left;display:inline-flex")
                      div(style="float:left")
                        img(src='/uploads/'+'#{each.userAvatarPath}', alt='' style="border-radius:50%;width:40px;height:40px;margin-right:10px")
                      div(style="float:right")
                        a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}
                        
                        span(style='color:gray')  
                          i.glyphicon.glyphicon-play(style="font-size:10pt")  
                          a(href="/orgs/"+each.orgUserId id="linkProfile" style='font-weight:900;')  #{each.orgname}

                        if each.edited
                         p(id="date") Edited on #{each.datePosted}
                        else
                         p(id="date") Posted on #{each.datePosted}
                      
                    div(style="float:right")
                      if (each.status==="open")
                        i(class="mega-octicon octicon-issue-opened issueStatus" id=each._id)
                      else
                        i(class="mega-octicon octicon-issue-closed issueStatus" id=each._id)
                      
                      .dropdown(style="width:auto!important;float:right")
                          button#menu1.dropdown-toggle(type='button', data-toggle='dropdown' style="border:none;background-color:unset")
                            i(class="ionicons ion-android-more-vertical" style="font-weight:500;font-size:20pt;margin-left:5px")
                          
                          ul.dropdown-menu(role='menu', aria-labelledby='menu1' style="font-size:12pt;font-weight:500;")
                            li(role='presentation' style="padding:5px;margin-bottom:2px")
                              button(type="submit" style="border:none;background-color:unset;margin-left:10px" role='menuitem', tabindex='-1', id="delIssueOptionBtn") Delete Issue
                              
                  .main.issueBlock
                    #nextBtn
                      div#issueTopic(style="margin-left:10px;width:auto!important")
                        if each.supporters.length>=(0.75*orgDtl.members.length)
                          i.glyphicon.glyphicon-fire(style="color:red;margin:5px" aria-hidden='true')
                        a(href="/indpost/"+each._id style="color:black") #{each.issueTopic}
                      div#issueDesc #{each.issueDesc}
                      if each.docsUpload.length!=0
                        div#issueAttach(style="padding:10px;")
                          if each.docsUpload.length!=0
                            p(style="font-weight:500") #{each.docsUpload.length} Attachments :
                            for all in each.docsUpload 
                              i(class="glyphicon glyphicon-paperclip" style="font-size:10pt;margin-right:5px")
                              a(href="/uploads/"+all.filename ) #{all.originalName}
                              br

                  div(id="feed_details")
                    div(style="display:inline-block;width:100%!important")
                      ul(id="feed_numbers" style="padding-left:15px;list-style:none;display:inline-flex;font-size:10pt;float:left;")
                        li
                          a(href="#" ) 
                            span(id="num_of_likes") #{each.supporters.length}
                            |  Upvotes
                        li
                          h(style="margin-right:5px;margin-left:5px") -
                        li
                          a(href="#")
                            span(id="num_of_dislikes") #{each.haters.length}
                            |  Downvotes

            else
              div(style="text-align:center!important;padding-top:100px")
                i(class="fa fa-user-secret" style="background-color:unset!important;color:lightgray;font-size:100px;")
                br
                br
                h(style="font-weight:500; font-size:25pt; color:grey") No Anonymous issues

        div#closedIssues(style="display:none")
          if closedIssues.length!=0
            for each in closedIssues
              if each.anonymity=="off"  
                li.issuePart(style="box-shadow: 0 2px 4px 0 #d1d5da78,0 2px 10px 0 #d1d5da78!important;border-color:#d1d5da78")
                  .issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
                    div(style="float:left;display:inline-flex")
                      div(style="float:left")
                        img(src='/uploads/'+'#{each.userAvatarPath}', alt='' style="border-radius:50%;width:40px;height:40px;margin-right:10px")
                      div(style="float:right")
                        if (each.anonymity==="on")
                          span(style='font-weight:900') Anonymous
                        else if(each.anonymity==="off")
                          a(href="/profile/"+each.username id="linkProfile" style='font-weight:900;') #{each.name}
                        
                        span(style='color:gray')  
                          i.glyphicon.glyphicon-play(style="font-size:10pt")  
                          a(href="/orgs/"+each.orgUserId id="linkProfile" style='font-weight:900;')  #{each.orgname}

                        if each.edited
                         p(id="date") Edited on #{each.datePosted}
                        else
                         p(id="date") Posted on #{each.datePosted}
                           
                    
                    div(style="float:right")
                      if (each.status==="open")
                        i(class="mega-octicon octicon-issue-opened issueStatus" id=each._id)
                      else
                        i(class="mega-octicon octicon-issue-closed issueStatus" id=each._id)
                      
                  .main.issueBlock
                    #nextBtn
                      div#issueTopic(style="margin-left:10px;width:auto!important")
                        if each.supporters.length>=(0.75*orgDtl.members.length)
                          i.glyphicon.glyphicon-fire(style="color:red;margin:5px" aria-hidden='true')
                        a(href="/indpost/"+each._id style="color:black") #{each.issueTopic}
                      div#issueDesc #{each.issueDesc}
                      if each.docsUpload.length!=0
                        div#issueAttach(style="padding:10px;")
                          if each.docsUpload.length!=0
                            p(style="font-weight:500") #{each.docsUpload.length} Attachments :
                            for all in each.docsUpload 
                              i(class="glyphicon glyphicon-paperclip" style="font-size:10pt;margin-right:5px")
                              a(href="/uploads/"+all.filename ) #{all.originalName}
                              br

                  div(id="feed_details")
                    div(style="display:inline-block;width:100%!important")
                      ul(id="feed_numbers" style="padding-left:15px;list-style:none;display:inline-flex;font-size:10pt;float:left;")
                        li
                          a(href="#" ) 
                            span(id="num_of_likes") #{each.supporters.length}
                            |  Upvotes
                        li
                          h(style="margin-right:5px;margin-left:5px") -
                        li
                          a(href="#")
                            span(id="num_of_dislikes") #{each.haters.length}
                            |  Downvotes

          else
            div(style="text-align:center!important;padding-top:100px")
              i(class="mega-octicon octicon-issue-closed" style="background-color:unset!important;color:lightgray;font-size:100px;")
              br
              br
              h(style="font-weight:500; font-size:25pt; color:grey") No closed issues  
        
        div#announcements(style="display:none;")  
          if(announcements.length!=0)
            for each in announcements
              li.issuePart(style="box-shadow: 0 2px 4px 0 #d1d5da78,0 2px 10px 0 #d1d5da78!important;border-color:#d1d5da78")
                .issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
                  div(style="float:left;display:inline-flex")
                    div(style="float:left")
                      img(src='/uploads/'+'#{each.userAvatarPath}', alt='' style="border-radius:50%;width:40px;height:40px;margin-right:10px")
                    div(style="float:right")
                      a(href="/orgs/"+each.orgUserId id="linkProfile" style='font-weight:900;') #{each.name}
                      p(id="date") Posted on #{each.datePosted}
                    
                  div(style="float:right")
                      if(each.username===orgDtl.userId)
                        .dropdown(style="width:auto!important;float:right")
                          button#menu1.dropdown-toggle(type='button', data-toggle='dropdown' style="border:none;background-color:unset")
                            i(class="ionicons ion-android-more-vertical" style="font-weight:500;font-size:20pt;margin-left:5px")
                          
                          ul.dropdown-menu(role='menu', aria-labelledby='menu1' style="font-size:12pt;font-weight:500;")
                            if(each.username===orgDtl.userId)
                              li(role='presentation' style="padding:5px;margin-bottom:2px")
                                button(type="submit" style="border:none;background-color:unset;margin-left:10px" role='menuitem', tabindex='-1', id="editIssueOption") Edit
                              li(role="presentation" class="divider")
                              li(role='presentation' style="padding:5px;margin-bottom:2px")
                                button(type="submit" style="border:none;background-color:unset;margin-left:10px" role='menuitem', tabindex='-1', id="delIssueOptionBtn") Delete
                            else if each.anonymity=="on"
                              li(role='presentation' style="padding:5px;margin-bottom:2px")
                                  button(type="submit" style="border:none;background-color:unset;margin-left:10px" role='menuitem', tabindex='-1', id="reportIssueOption") Report Spam
  
                .main.issueBlock
                  #nextBtn
                    div#issueTopic(style="margin-left:10px;width:auto!important") #{each.issueTopic}
                    div#issueDesc #{each.issueDesc}
                    if each.docsUpload.length!=0
                      div#issueAttach(style="padding:10px;")
                          if each.docsUpload.length!=0
                            p(style="font-weight:500") #{each.docsUpload.length} Attachments :
                            for all in each.docsUpload 
                              i(class="glyphicon glyphicon-paperclip" style="font-size:10pt;margin-right:5px")
                              a(href="/uploads/"+all.filename ) #{all.originalName}
                              br

          else
            div(style="text-align:center!important;padding-top:100px")
              i(class="ionicons ion-android-notifications" style="background-color:unset!important;color:lightgray;font-size:100px;")
              br
              br
              h(style="font-weight:500; font-size:25pt; color:grey") No notices yet

      else
        div(style="text-align:center!important;padding-top:100px")
            img(src="/images/SuccessLogo.png" style="width:30%;opacity:0.7")
            br
            br
            h(style="font-weight:500; font-size:25pt; color:grey") You'r not a member yet

  script.
     var i=0;
      $('#expandMakeOrg').click(function(){
        $('#nextBtn').slideToggle();
        if(i==0)
          setTimeout(function(){
            $('#fileUploadLogo').show();
          }, 250);
        else
          setTimeout(function(){
            $('#fileUploadLogo').toggle();
          }, 100);
        $(this).toggleClass('glyphicon-plus glyphicon-minus');
        i=!i;
      });
      $('li.postIssuePart#addOrg').mouseover(function(){
        $(this).css({
          'box-shadow': '0 20px 60px 0 rgba(27,42,53,.25)',
          'transform': 'translateY(-1%)'
        })
      })

      $('li.postIssuePart#addOrg').mouseout(function(){
        $(this).css({
          'transform': 'translateY(1%)',
          'box-shadow' : '0 2px 4px 0 #d4e8ff,0 2px 10px 0 #d4e8ff'
        })
      })

      $('#openBtn').click(function(){
        $('#openIssues').show();
        $('#closedIssues').hide();
        $('#aIssues').hide();
        $('#announcements').hide();
        $(this).css({
          'border-bottom' : '2px solid #42b72a'
        })
        $('#closedBtn').css({
          'border-bottom' : '2px solid white'
        })
        $('#aBtn').css({
          'border-bottom' : '2px solid white'
        })
        $('#announcementBtn').css({
          'border-bottom' : '2px solid white'
        })
      });

      $('#closedBtn').click(function(){
        $('#openIssues').hide();
        $('#closedIssues').show();
        $('#aIssues').hide();
        $('#announcements').hide();
        $(this).css({
          'border-bottom' : '2px solid #42b72a'
        })
        $('#openBtn').css({
          'border-bottom' : '2px solid white'
        })
        $('#aBtn').css({
          'border-bottom' : '2px solid white'
        })
        $('#announcementBtn').css({
          'border-bottom' : '2px solid white'
        })
      });

      $('#aBtn').click(function(){
        $('#openIssues').hide();
        $('#closedIssues').hide();
        $('#announcements').hide();
        $('#aIssues').show();
        $(this).css({
          'border-bottom' : '2px solid #42b72a'
        })
        $('#openBtn').css({
          'border-bottom' : '2px solid white'
        })
        $('#closedBtn').css({
          'border-bottom' : '2px solid white'
        })
        $('#announcementBtn').css({
          'border-bottom' : '2px solid white'
        })
      });

      $('#announcementBtn').click(function(){
        $('#openIssues').hide();
        $('#closedIssues').hide();
        $('#aIssues').hide();
        $('#announcements').show();
        $(this).css({
          'border-bottom' : '2px solid #42b72a'
        })
        $('#openBtn').css({
          'border-bottom' : '2px solid white'
        })
        $('#closedBtn').css({
          'border-bottom' : '2px solid white'
        })
        $('#aBtn').css({
          'border-bottom' : '2px solid white'
        })
      });
