extends org
block issues
	.gridcontainer
		.gridwrapper
			.gridbox.gridmain
				ul(id="issues")
					if details	
						li.issuePart
							.issuePart1D
								if (details.anonymity==="on")
									span(style='font-weight:900') Anonymous
								else if(details.anonymity==="off")
									a(href="/profile/"+details.username id="linkProfile" style='font-weight:900') #{details.name}
								span(style='color:gray')  
									i.glyphicon.glyphicon-play(style="font-size:10pt")  
									|  #{details.department}
								if (details.anonymity==="on")
									button.spamBtn(type='button') Report Spam
								p(id="date") #{details.datePosted}

							.main.issueBlock
									#prevBtn
										#likeBtns
											i.glyphicon.glyphicon-fire(style="color:red" aria-hidden='true')
										#likeBtns
											button.iconsBtnLike(type="submit")
												i.fa.fa-thumbs-o-up(aria-hidden='true')
											p #{details.likes}
									#nextBtn
										#issueTopic #{details.issueTopic}
										#issueDesc #{details.issueDesc}

