extends home
block joinorg
	.gridbox.gridmain
		ul(id="issues")
			li.postIssuePart.searchorgformClass
				form(id="searchorgformdash" method='get')
					.issuePart1D(style="display:inline-flex;width:100%;padding-left:13px")
						input(type='text' id="orgquerySearchBar" name="suborgquery" placeholder="Enter UID or name" required)		
						
			if orgsByName
				if orgsByName.length>0
					for each in orgsByName
						li.issuePart
							.issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
								div(style="float:left;")
									span(style='color:gray')
										a(href="/indorg/"+each._id id="linkProfile" style='font-weight:900;')  #{each.name}

									span(style='color:gray')
										br
										span(style="color:black;font-weight:500") UID : 
										| #{each.userId}
									
									p(id="date") #{each.dateMade}

								div(style="float:right" id="postDelBtn")

									if (each.members.indexOf(username)>-1)
										if (each.admin.indexOf(username)>-1)
											input#join(value="Admin" type="submit" style="background-color:#42b72a;color:white!important;font-weight:500;border:1px solid #42b72a;border-radius:3px;min-width:70px;opacity:0.7" disabled)
							
										else
											input#join(value="Member" type="submit" style="background-color:#42b72a;color:white!important;font-weight:500;border:1px solid #42b72a;border-radius:3px;min-width:70px;opacity:0.7" disabled)

									else if(each.pendingRequest.indexOf(username)>-1)
										div(style="color:#42b72a;")
											i(class="ionicons ion-android-checkmark-circle" style="font-size:15pt")
											h  Pending

									else
										form(method="post" action="/joinorg/"+each.userId)
											input#join(value="Join" type="submit" style="background-color:#42b72a;color:white!important;font-weight:500;border:1px solid #42b72a;border-radius:3px;min-width:70px")
							
							.main.issueBlock
								#prevBtn
									#likeBtns
										i(class="mega-octicon octicon-organization" style="color:gray")  
										p(style="font-weight:200!important;color:black") #{each.members.length}
								#nextBtn
									if each.alert
										.alert.alert-danger#err(style="padding:10px;margin-bottom:0px;")
											p(style="text-transform: capitalize;") 
												b Please Note 
												| : #{each.alert}
									#issueDesc(style="border-top:none") #{each.aboutUs}

				else if(initial=="true")
					div(style="text-align:center!important;padding-top:100px")
						img(src="/images/SuccessLogo.png" style="width:30%;opacity:0.7")
						br
						br
						h(style="font-weight:500; font-size:25pt; color:grey") Results appears here
				
				else
					div(style="text-align:center!important;padding-top:100px")
						img(src="/images/ErrorLogo.png" style="width:30%;opacity:0.7")
						br
						br
						h(style="font-weight:500; font-size:25pt; color:grey") No results found 
	script.
		$('input#join').click(function(){
			this.toggle(function(){
				this.attr('value', 'Joined');
			});
		});
		$('#orgquerySearchBar').on("input", function(){
			var query = this.value;
			console.log(query);
			var _url = "/searchorg/"+query;
			console.log(_url);
			$('#searchorgformdash').attr('action', _url);       
		});