extends home
block issues
	.gridbox.gridmain
	

		ul(id="issues")
			li.postIssuePart
				form(method='POST', id="addMyOrg", action="/addmyorg")		
					.issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
						div(style="float:left")
							h(style="font-weight:500;font-size:14pt") Make Organisation
						div(style="float:right")
							i(class="glyphicon glyphicon-plus" id="expandMakeOrg")			

					.main.issueBlock
						#nextBtn(style="display:none")
							div(style="margin-left:5px")
									input(type='text' id="orgName" name="orgName" placeholder="Name of organisation" required)
										
									input(type='text' id="orgAlert" name="orgAlert" placeholder="Any Special Note or Alert ?")
									
									textarea(id="orgAbout" name="orgAbout" placeholder="About Organisation" required )
									
									div(style="width:100%;text-align:center;")
										input( value="Add" type="submit" name="orgSubmit" id="orgSubmit" style="max-width:71.77px;")


			if memberctrlorgs
				for each in memberctrlorgs
					li.issuePart
						.issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
							div(style="float:left;")
								span(style='color:gray')
									if(search(username, adminctrlorgs))
										i(class="fa fa-shield" style="color:red" title="Admin")
									a(href="/orgs/"+each.userId id="linkProfile" style='font-weight:900;')  #{each.name}

								span(style='color:gray')
									br
									span(style="color:black;font-weight:500") UID : 
									| #{each.userId}
								
								p(id="date") #{each.dateMade}

							div(style="float:right;display:inline-flex" id="postDelBtn")
									form(method="post" action="/exitOrg/"+each.userId id="exitForm")
									button(id="exit" title="Exit organisation" style="color:#42B72B!important;background-color:unset;border:none;font-size:19pt")
										i(class="fa fa-sign-out")

						.main.issueBlock
							#prevBtn
								#likeBtns
									i(class="mega-octicon octicon-organization" style="color:gray")  
									p(style="font-weight:200!important;color:black") #{each.members.length}
							#nextBtn
								if each.alert
									.alert.alert-danger#err(style="padding:10px;margin-bottom:0px;")
										p(style="text-transform: capitalize;") 
											b Please Note 
											| : #{each.alert}
								
								#issueDesc(style="border-top:none") #{each.aboutUs}

	.jumbotron.text-center.addOrgExitAlertbackground
		.addOrgExitAlert(style='margin:200px auto;padding:20px;max-width:400px')
			div
				p Sure to exit this organisation ?
			div(style='display:inline-flex;text-align:center;width:100%;border-top:1px solid lightgray;padding:10px')
				#exitYes(style='width:50%;float:left;border-right:1px solid lightgray')
					button(style='margin-bottom:0px;border:none;background-color:unset')
							p(style='margin-bottom:0px')
								a Yes
				#exitNo(style='width:50%;float:right')
					button(style='margin-bottom:0px;border:none;background-color:unset')
						p(style='margin-bottom:0px') No


	script.
		$('button#exit').click(function(){
			$('.addOrgExitAlertbackground').toggle();
		});

		$('#exitYes').click(function(){
			$('#exitForm').submit();
		});

		$('#exitNo').click(function(){
			$('.addOrgExitAlertbackground').toggle();
		});

		$('.glyphicon.glyphicon-remove#close_error').click(function(){
			$(this).parents('.alert.alert-danger#err').remove();
		});

		
		$('#expandMakeOrg').click(function(){
				$('#nextBtn').toggle();
				$(this).toggleClass('glyphicon-plus glyphicon-minus');
			})

