extends layout
block content
	.gridcontainer
		.gridwrapper
			.gridbox.gridmenu(data-spy="affix" style="height:100%")		
				#wrapper(class="pro_info" style="margin-bottom:100px;")
					section#main(style='background-color: unset !important;top:auto !important;max-width: 40em !important;')
						div
							span.avatar 
								img(src='/uploads/'+'#{orgDtl.orgAvatarPath}', alt='', width='125px' height="125px" style="border-radius:20%;padding:10px;margin-bottom:10px!important")
							div
								if(isUrl(orgDtl.orgLink))
									a(href=orgDtl.orgLink style="font-size:1.2em;") #{orgDtl.name}
								else
									a(style="font-size:1.2em") #{orgDtl.name}
								p 
									b UID : 
									| #{orgDtl.userId} 
						
							
							ul(style="font-size:11pt;list-style:none;padding:0px;")
								li(style="display: inline-block;padding: 0 10px;border-right: 1px solid #d4dbe0;")
									| Issues Open
									h3 #{openIssues.length}
								li(style="display: inline-block;padding: 0 10px")
									| Issues Closed
									h3 #{closedIssues.length}

					if(search(username, orgDtl.admin))
						i(class="fa fa-shield" style="font-size:50pt;color:black")
						
						div(id="manageOrg" style="padding:10px;")
							a(href="/orgs/"+orgDtl.userId) Home
						
						div(id="manageOrg" style="padding:10px;")
							a(href="/pendingreq/"+orgDtl.userId) Pending Request
								span(class="badge info" id="badge_pendingReq" style="margin-left:5px;background-color:red") #{orgDtl.pendingRequest.length}

					if(search(username, orgDtl.members))
						div(id="manageOrg" style="padding:10px;margin-bottom:10px")
							a(href="/members/"+orgDtl.userId) Member List
								span(class="badge info" id="badge_members" style="margin-left:5px;background-color:#369a21") #{orgDtl.members.length}

						form(method="post" action="/exitOrg/"+orgDtl.userId id="exitForm")
						button#exit(title="Exit Organisation" style="background-color:red;color:white;padding:10px;border-radius:3px;font-size:10pt;margin-bottom:15px!important;border:none")
							p(style="margin-bottom:0px") Exit Organisation


					else if(search(username, orgDtl.pendingRequest))
							div(style="color:#42b72a;padding:10px")
								i(class="ionicons ion-android-checkmark-circle" style="font-size:15pt;")
								h  Pending Approval
							form(method="post" action="/cancelPendingReq/"+each.userId id="cancelPendingReqForm" )
							button(id="cancelPendingReqBtn" title="Cancel Pending Request" style="background-color:red;color:white;padding:10px;border-radius:3px;font-size:10pt;margin-bottom:15px!important")
								p(style="margin-bottom:0px") Cancel Request
					else
						form(method="post" action="/joinOrg/"+orgDtl.userId)
							div(id="joinOrg" style="margin-bottom:15px!important;padding:10px")
								button(style="border:none;background-color:unset")
									a() Join Organisation

			block issues
			block pendingreq

		
			//- .gridbox.gridright(data-spy="affix" style="text-align:left")
			//- 	.right(style="background-color:unset!important")
			//- 		ul(id="issues")
			//- 			if orgDtl.announcements.length!=0
			//- 				for each in orgDtl.announcements
			//- 					li.issuePart(style="box-shadow: 0 2px 4px 0 #d1d5da78,0 2px 10px 0 #d1d5da78!important;border-color:#d1d5da78")
			//- 						.issuePart1D(style="display:inline-block;width:100%;padding-left:13px")
			//- 							div(style="float:left;display:inline-flex")
			//- 								div(style="float:left")
			//- 									img(src='/uploads/'+'#{orgDtl.orgAvatarPath}', alt='' style="border-radius:50%;width:40px;height:40px;margin-right:10px")
			//- 								div(style="float:right")
			//- 									a(href="/orgs/"+orgDtl.userId id="linkProfile" style='font-weight:900;') #{orgDtl.name}
			//- 									p(id="date") Posted on #{each.dateAnnounced}
                        

			//- 						.main.issueBlock
			//- 							#nextBtn
			//- 								div#issueTopic(style="margin-left:10px;width:auto!important") #{each.topic}
			//- 								div#issueDesc #{each.desc}

			//- 			else
			//- 				div(style="text-align:center!important;padding-top:100px")
			//- 					i(class="mega-octicon octicon-issue-opened" style="background-color:unset!important;color:lightgray;font-size:100px;")
			//- 					br
			//- 					br
			//- 					h(style="font-weight:500; font-size:25pt; color:grey") No open issues
							
		.jumbotron.text-center.addCancelPendingReqBackground
			.addCancelPendingReq(style='margin:200px auto;padding:20px;max-width:400px')
				div
					p Cancel request to join this org ?
				div(style='display:inline-flex;text-align:center;width:100%;border-top:1px solid lightgray;padding:10px')
					#cancelYes(style='width:50%;float:left;border-right:1px solid lightgray')
						button(style='margin-bottom:0px;border:none;background-color:unset')
								p(style='margin-bottom:0px;color:red') Yes
					#cancelNo(style='width:50%;float:right')
						button(style='margin-bottom:0px;border:none;background-color:unset')
							p(style='margin-bottom:0px;color:#337ab7') No

		.jumbotron.text-center.addOrgExitAlertbackground
			.addOrgExitAlert(style='margin:200px auto;padding:20px;max-width:400px')
				div
					p Sure to exit this organisation ?
				div(style='display:inline-flex;text-align:center;width:100%;border-top:1px solid lightgray;padding:10px')
					#exitYes(style='width:50%;float:left;border-right:1px solid lightgray')
						button(style='margin-bottom:0px;border:none;background-color:unset')
								p(style='margin-bottom:0px;color:red') Yes
					#exitNo(style='width:50%;float:right')
						button(style='margin-bottom:0px;border:none;background-color:unset')
							p(style='margin-bottom:0px;color:#337ab7') No


	script.

		$('button#cancelPendingReqBtn').click(function(){
			$('.addCancelPendingReqBackground').toggle();
		});

		$('#cancelYes').click(function(){
			$('#cancelPendingReqForm').submit();
		});

		$('#cancelNo').click(function(){
			$('.addCancelPendingReqBackground').toggle();
		});


		$('button#exit').click(function(){
			$('.addOrgExitAlertbackground').toggle();
		});

		$('#exitYes').click(function(){
			$('#exitForm').submit();
		});

		$('#exitNo').click(function(){
			$('.addOrgExitAlertbackground').toggle();
		});

		$('.glyphicon.glyphicon-remove#close_error').click(function(){
			$(this).parents('.alert.alert-danger#err').remove();
		});

		var issuedate = $('p#date').each(function(){
			console.log($(this).text());
			var modDate = $(this).text().substring(0,31);
			$(this).html(modDate);
		});
