extends layout

block content	
	.card
		.form-header
			h3
				span.glyphicon.glyphicon-user
				|  Register
		// Body
		if validatorError
			for ech in validatorError
				.alert.alert-danger#err 
					b(style="font-weight:800 !important;text-transform: capitalize;") #{ech} 
					| already exists.
					.glyphicon.glyphicon-remove(style="float:right" id="close_error")
		
					
		form(method='POST', action="/users/register" style="margin-top:20px !important")
			input(id='name', type='text', placeholder="Your Name", name="name", value= '#{name}')
			textarea#moto(rows='2', placeholder='What is your principle ?', name="moto") #{moto}
			input(id='username', type='text', name='username', placeholder='Choose Username' value='#{username}')     
			input(id='email', type='text', name='email', placeholder='Email Address' value='#{email}')
			input(id='password', type='password', name='password', placeholder='Password')
			input(id='cnfpassword', type='password', name='cnfpassword', placeholder='Confirm Password')
			div(style="text-align:center;padding:15px!important")
				input(style="background-color:#42b72a;border:none;color:white!important;width:10rem!important;font-size:20px" value="Register" type="submit" name="submit" id="submit")
		script.
			document.getElementById('close_error').addEventListener("click", function(){
				//console.log("Ho");
				$('#err').remove();
			})

		if errors
			for error,i in errors 
				script.
					document.getElementById("#{error.param}").placeholder = "#{error.msg}";
					document.getElementById("#{error.param}").value = "";
					document.getElementById("#{error.param}").style.color = 'white';
					var css = document.createElement("style");
					css.type = "text/css";
					css.innerHTML = "input[id='#{error.param}']::placeholder { color: red;opacity: 0.7;}";
					document.body.appendChild(css);
	
